@import "tailwindcss";

@theme {
  --color-yellow: #dbac2c;
  --color-yellow-dark: #c47f17;
  --color-yellow-light: #f1e9c9;

  --color-purple: #8047f8;
  --color-purple-dark: #4b2995;
  --color-purple-light: #ebe5f9;

  --color-base-text: #574f4d;
  --color-base-card: #f3f2f2;
  --color-base-label: #8d8686;
  --color-base-title: #272221;
  --color-base-hover: #d7d5d5;
  --color-base-input: #ededed;
  --color-base-button: #e6e5e5;
  --color-base-subtitle: #403937;

  --color-background: #fafafa;

  --font-sans: "Roboto", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;

  --leading-130: 1.3;

  --text-l: 1.25rem;
  --text-m: 1rem;
  --text-s: 0.875rem;
  --text-xs: 0.75rem;

  --text-baloo-xl: 3rem;
  --text-baloo-l: 2rem;
  --text-baloo-m: 1.5rem;
  --text-baloo-s: 1.25rem;
  --text-baloo-xs: 1.125rem;
}

/* Remove setas no Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove setas no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
